<mat-card class="example-card">
  <button (click) = "toPayments()">
    Payments
  </button>
  <button (click) = "toLogin()" *ngIf="!(authService.user | async)">
    Log In
  </button>
  <button (click) = "logOut()" *ngIf="authService.user | async">
    Log Out
  </button>
</mat-card>