<mat-card class="example-card">
  <form class="example-form" *ngIf="!(authService.user | async)">
    <mat-form-field class="example-full-width">
      <input [(ngModel)] = "name" name = "name" matInput placeholder="Name">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <input [(ngModel)] = "amount" name = "amount" matInput placeholder="Amount">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <input [(ngModel)] = "code" name = "code" matInput placeholder="Code">
    </mat-form-field>
    <br>
    <button mat-raised-button (click)="pay()">
        Pay
    </button>
    <p *ngIf="show">
      Thank you for paying!
    </p>
  </form>
  <div *ngIf="authService.user | async">
    <mat-card-header>
      <mat-card-title>Building: {{building}}</mat-card-title>
      <mat-card-subtitle>Uid: {{uid}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-card-title>Payments List</mat-card-title>
          <ul>
            <payment *ngFor = "let payment of payments" [data] = "payment">
            </payment>
          </ul>
    </mat-card-content>
  </div>
</mat-card>