<li style="line-height: 200%"
    (mouseenter) = "buttonOn()"
    (mouseleave) = "buttonOff()">
    <div><span style="font-weight: bold;"> Payer:</span> {{name}}</div>
    <div><span style="font-weight: bold;">Amount:</span> {{amount}}</div>
    <button (click) = "delete()" *ngIf = "showButton">Delete Payment</button>
</li>